<link href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" rel="stylesheet">

<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="width:100%; height:100%;"></div>

  <ion-grid fixed>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="checkGPSPermission()">
          Request GPS Accuracy
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Longitude</ion-col>
      <ion-col> {{locationCoords.longitude}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Latitude</ion-col>
      <ion-col>{{locationCoords.latitude}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Accuracy</ion-col>
      <ion-col>{{locationCoords.accuracy}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Timestamp</ion-col>
      <ion-col>{{locationCoords.timestamp | date:'medium'}}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>